---
import PrefooterTitle from "@components/PrefooterTitle.astro";

const cardsOportunidades = [
  {
    title1: "Oferta de empleo",
    title2: "Miles de oportunidades",
    img: "./images/ofertaEmpleo.png",
    gradient: "bg-gradient-to-t from-[#8BCFAD] to-[#E6F6EE]",
    colorTitle: "text-[#0E8247]",
    marginBotton:"-mb-[20%]",
    href: "https://www.infojobs.net/",
  },
  {
    title1: "InfoJobs en TikTok",
    title2: "Consejos para encontrar trabajo",
    img: "./images/infoTikTok.png",
    gradient: "bg-gradient-to-t from-[#FFE4A2] to-[#FEF6DB]",
    colorTitle: "text-[#EFA500] ",
    marginBotton:"-mb-[35%]",
    href:"https://www.tiktok.com/@infojobs/playlist/Encontrar%20trabajo-7401023016819378977 "
  },
] as const;
---
<div class="grid grid-cols-1 md:grid-cols-2 w-auto h-auto gap-6">
  {
    cardsOportunidades.map((card) => (
      <a
        class={`group flex flex-col rounded-[16px] w-auto h-[436px] sm:h-auto md:aspect-square overflow-hidden ${card.gradient}`}
        href={card.href} target="_blank"
      >
        <PrefooterTitle title={card.title2} subtitle={card.title1} colorTitle={card.colorTitle} colorSubtitle="text-black" />
        <div class="flex justify-center mt-auto w-full h-auto">
        <div class={`flex justify-center mt-auto w-full h-auto md:mb-0 pt-4 px-4 ${card.marginBotton}`}>
          <img
            class="md:w-[500px] md:h-[396px] w-full h-full scale-125 md:scale-100 transition md:group-hover:scale-105 md:group-hover:z-10"
            src={card.img}
            alt="InfoJobs"
          />
        </div>
      </div>
      </a>
    ))
  }
</div>