---
import PrefooterTitle from "./PrefooterTitle.astro";

const cardsOportunidades = [
  {
    title1: "Oferta de empleo",
    title2: "Miles de oportunidades",
    img: "./images/ofertaEmpleo.png",
    gradient: "bg-gradient-to-t from-[#8BCFAD] to-[#E6F6EE]",
    colorTitle: "[#0E8247]",
    marginBotton:"-mb-[20%]",
    href: "https://www.infojobs.net/",
  },
  {
    title1: "InfoJobs en TikTok",
    title2: "Consejos para encontrar trabajo",
    img: "./images/infoTikTok.png",
    gradient: "bg-gradient-to-t from-[#FFE4A2] to-[#FEF6DB]",
    colorTitle: "[#EFA500] ",
    marginBotton:"-mb-[35%]",
    href:"https://www.tiktok.com/@infojobs/playlist/Encontrar%20trabajo-7401023016819378977 ",
  },
] as const;
---

<div class="grid grid-cols-1 sm:grid-cols-2 w-auto h-auto gap-6">
  {
    cardsOportunidades.map((card) => (
      <a
        class={`flex flex-col aspect-[9/11] rounded-[16px] sm:aspect-square overflow-hidden hover:scale-105 transition ${card.gradient}`}
        href={card.href} target="_blank"
      >
        <PrefooterTitle title={card.title2} subtitle={card.title1} colorTitle={card.colorTitle} colorSubtitle="gray-900" />
        <div class={`flex justify-center h-full sm:mb-0 ${card.marginBotton}`}>
          <img
            class="scale-100 object-cover"
            src={card.img}
            alt="InfoJobs"
          />
        </div>
      </a>
    ))
  }
</div>

